#.gitignore
# Created Wed Jan 16 09:39:14 AKST 2019
# by Raymond E. Marcil <marcilr@gmail.com>
#
# Files for git to ignore.
#
.gitignore
adapters/
bluetooth/
dd-wrt/
ddns/
dhcp/
dns/
domain/
facebook/
google/
imapfilter/
ip/
mapper/
nat/
net/
nmap/
openvpn/
outlook/
putty/
remote-desktop/
routers/
skype/
vsftpd/
web/
wifi/
www/
vpn/
xrdp/
