#.gitignore
# Created Wed Jan 16 09:39:14 AKST 2019
# by Raymond E. Marcil <marcilr@gmail.com>
#
# Files for git to ignore.
#
.gitignore
adapters/
apache2/
amazon/
bluetooth/
csr/
css/
dd-wrt/
ddns/
dhcp/
dns/
domain/
facebook/
gmail/
google/
hosting/
html/
imapfilter/
ip/
linode/
mapper/
nat/
net/
nmap/
nginx/
openvpn/
outlook/
putty/
remote-desktop/
rockhounding.net/
routers/
skype/
ssl/
vsftpd/
web/
wifi/
www/
vpn/
xrdp/
